.tabs__nav {
    display: flex;
    flex-direction: column;
    margin: 1%;
    width: 5%;
}


.tabs__nav-btn {
    background-color: yellowgreen;
    width: 250px;
    height: 50px;
    font-size: 32px;
    border-radius: 20px;

}

.tabs__item {
    display: none;
}

.tabs__item.active {
    display: block;
}

.container {
    display: flex;
    flex-direction: row;
}

.tabs__content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 5%;
}

